.services{
    height: 100%;
    background: linear-gradient(180deg, #0c0c1d, #111132);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .textContainer{
        flex: 1;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 20px;

        p{
            font-weight: 200;
            font-size: 20px;
            color: gray;
            text-align: right;
        }

        hr{
            width: 500px;
            border: none;
            border-top: 0.5px solid gray;
        }
    }
    .titleContainer{
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title{
            display: flex;
            gap: 50px;
            align-items: center;

            h1{
                font-size: 96px;
                font-weight: 100;
            }

            img{
                width: 300px;
                height: 100px;
                object-fit: cover;
                border-radius: 50px;
            }

            button{
                width: 300px;
                height: 100px;
                border-radius: 50px;
                background-color: orange;
                font-size: 24px;
                cursor: pointer;
                border: none;
            }
        }
    }
    .listContainer{
        flex: 2;
        display: flex;
        margin: auto;
        max-width: 1366px;

        .box{
            border: 0.5px solid gray;
            display: flex;
            flex-direction: column;
            padding: 50px;
            justify-content: space-between;

            button{
                border: none;
                padding: 10px;
                background-color: orange;
                cursor: pointer;
            }
        }
    }
}